<html lang="en" >
   <head>
      <title>Login</title>
   <meta charset="UTF-8">
   <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
   <!-- <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'> -->
   <link href="/css/style_login.css" rel="stylesheet" type="text/css">

   </head>
   <body>
   <!-- partial:index.partial.html -->
   
   <div class="container">
      <div class="screen">
         <div class="screen_content">
            <form class="login" method="POST">
               <h1>Login</h1>
               <%
                  if(typeof message !== 'undefined'){
                     %>
                        <h5 style="color: red;"><%= message%></h5>
                     <%
                  }
               %>
               <div class="login_field">
                  <i class="login_icon fas fa-user"></i>
                  <input type="email" class="login_input" placeholder="Enter Email" name="email" required>
               </div>
               <div class="login_field">
                  <i class="login_icon fas fa-lock"></i>
                  <input type="password" class="login_input" placeholder="Enter Password" name="password" required>
               </div>
               <button class="button login_submit">
                  <input class="button_text" type="submit" value="Login">
                  <i class="button_icon fas fa-chevron-right"></i>
               </button>					
            </form>
            <button class="reg login_submit">
               <a href="/register">Register</a>
               <i class="button_icon fas fa-chevron-right"></i>
            </button>	
         </div>
         <div class="screen_background">
            <span class="screen_background_shape screen_background_shape4"></span>
            <span class="screen_background_shape screen_background_shape3"></span>		
            <span class="screen_background_shape screen_background_shape2"></span>
            <span class="screen_background_shape screen_background_shape1"></span>
         </div>
      </div>
   </div>
   <!-- partial -->
   
   </body>
</html>